@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Hi, my name is Joaquín Talice and I have 21 years old</h1>
    <h2>I've been specializing in .NET technologies and JS</h2>
    <img id="profile-image" src="~/images/ezgif.com-gif-maker.gif" alt="Profile picture" />
</div>

<div class="text-center">
    <img id="dotnet-image" src="~/images/dotnet-img.png" alt="dotnet image" />
</div>

<div class="row text-center justify-content-center bg-primary">
    <div class="col col-md-7 description-container">
        <h1>I welcome you at my portfolio</h1>
        <p>
            I started my career as a programmer in 2021 with some HTML, CSS and JavaScript by self-taught and I learned a little bit. The development I knew that was
            what I wanted to my life but in that moment, I started to work and I far away from the studies. In 2023, I decided to start again with my career as developer but
            now, with a different approach and knowing that will be my future job. I start again with html, css and JS. This time was easiest hince I learned enough in 2021.
            At the middle of 2023 I started to learn C# with ASP.NET Core and this I could say was my first love.
            Right now my specialization is in C# with ASP.NET Core and I love know interesting technologies.
        </p>
    </div>
</div>