
@{
    ViewData["Title"] = "Thank you";
}

<h1>Thank you very much for put in contact with me.</h1>
<p>I will answer your message as soon as possible.</p>
<div><a asp-controller="Home" asp-action="Index">Back to home</a></div>